#[client-server]
#	!includedir /etc/mysql/conf.d/
#	!includedir /etc/mysql/mariadb.conf.d/

# le fichier s'appelle 50-server.conf parce que le fichier de conf de mariaDB s'appelle comme ca
# et au'on va l'ecraser par le notre

[mysqld]
	datadir = /var/lib/mysql #dossier dans lequel sera stocker la bdd
	socket  = /run/mysqld/mysqld.sock #socket pour communiquer (peut-etre pas obliger)
	bind_address=* #toutes les IP du réseau peuvent se connecter
	port = 3306 #sur le port 3306
	user = mysql #l'utilisateur s'appelle mysql (simple efficace)